<!doctype HTML>
<html>
<head>
	<style>
		form{
		border:1px solid black;
		width:500px;
		height:auto;
		margin-left:200px;
		margin-top: 20px;
		border-radius: 5px;
        text-align: center;
        transition: box-shadow 0.8s;
        font-family:"Terminal Dosis";
        font-size:15pt;
		}
  form:hover{
    box-shadow: 10px 10px 5px grey;
  }
	</style>
</head>
<body>

{% if event%}
	<form action="/update" method="POST">

	Name:<input type="text" value="{{event.get_name()}}" name="upd_name"><br><br>
	<input type="hidden" name="id" value="{{id}}"/>
	Date:<input type="date" value="{{event.get_date()}}" name="upd_date"><br>
	<p>Your city was :{{event.get_city()}}</p>
	Choose new:<select name="upd_city">
		<option value="Hyderabad">Hyderabad</option>
		<option value="Bangalore">Bangalore </option>
		<option value="Pune">Pune</option>
	</select><br><br>
	Info:<input type="text" value="{{event.get_info()}}" name="upd_info"><br><br>
		<input type="reset" value="Reset">  <input type="submit" value="Update Now"><br><br>
</form>
		{%endif %}
</body>
</html>
